name: Lint and Test

on: [push, pull_request]

jobs:
  lint:
    name: Check tsc, lint, and prettier
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v1
      with:
        node-version: '24.x'
    - run: npm install
    - run: npm run lint
    - run: npm run prettier
      env:
        CI: true
  test:
    name: Test on node ${{ matrix.node-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [24]

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm test -- --runInBand --logHeapUsage --no-cache
      env:
        CI: true
  testOlderNodeVersions:
    name: Test on node ${{ matrix.node-version }} and ubuntu-latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm test -- --runInBand
      env:
        CI: true
